.welcome-font {
    font-size: 2em;
    font-style: italic;
    font-weight: 500;
    margin:0 auto;
    margin-top: 0;
    margin-bottom: 0;

}
.err-msg {
    width: 30vw;
    height: 5vh;
    color: red;
    font-size: 18px;

}
.iub-auth-font {
    font-size: 5.3em;
    font-weight: bold;
    margin:0 auto;
    margin-top: 0;
    margin-bottom: 0;
}

.margin-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-left {
    margin-left: 3vw;
}

.margin-layout {
    margin-left: 2vh;
    margin-right: 2vh;
}

.input-icons i {
    position: absolute;
}
  
.input-icons {
  padding: 10px;
  font-size: 25px;
  color: white;
  background-color: none;
  min-width: 40px;
  text-align: center;
}
.input-group-text {
    background-color: white;
}
  
.input-field {
    width: 100%;
    height: 9vh;
    font-size: 16px;
    /* padding: 10px; */
    border-radius: 23px;
    border: 1px solid white;
    text-align: left;
}

.input-field-regis-form {
    /* width: 100%; */
    height: 6vh;
    font-size: 16px;
    /* padding: 10px; */
    border-radius: 23px;
    border: 1px solid white;
    text-align: left;
}

.auth-form {
    background-color: rgb(252, 186, 252, 0.4);
    border-radius: 30px;
    height: 47vh;
    border:  1px solid rgb(252, 186, 252);
    box-shadow: 4px 4px 8px rgba(41, 29, 29, 0.2);
}
.auth-layout {
    width: 550px;
    height: 100vh;
    
}
.auth-form h2, p {
    padding-top: 1px;
    margin: 1px;
}

.auth-col {
    margin-top: 2px;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 15vh;
}
.auth-row {
    margin-top: 2px;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 10vh;
}
.auth-col-submit {
    display: grid;
    padding-top: 1vh;
    align-items: center;
    justify-items: center;
    height: 11vh;
}

.auth-col-submit a { 
    margin-top: 3px;
    text-decoration: none;
    color: white;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

.auth-button {
    background-color: blueviolet;
    margin-top: 10px;
    text-align: center;
    color: white;
    width: 148px;
    font-size: 22px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 11px;
    /* height: 6vh; */
    border: 0px solid;
    border-radius: 50px;
}
.input-group {
    background-color: white;
    border-radius: 23px;
}

.register-link {
    margin-bottom: 12px;
    align-items: center;
    justify-content: center;
}

.register-link span {
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
}

.register-link a {
    text-decoration: none;
    font-size: 23px;
    color: grey;
    font-weight: bold;
}
.register-link a:hover {
    text-decoration: underline;
    color: rgb(79, 79, 255);
}

.register-row {
    height: 12vh;
}

.other-login {
    height: 13.2vh;
}
.other-login p {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 1.2em;
    color: red;
    text-decoration: underline;

}

.other-login a {
    color: #000;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 52px;
}

@media screen  and (max-width: 425px){
    .other-login a {
        font-size: 42px;
    }
    .auth-layout {
        width: 375px;
    }

    .other-login {
        height: 12vh;
    }
    /* .welcome-font {
        font-size: 1.5em;

    }
    
    .iub-auth-font {
        font-size: 3em;
    } */
}

@media screen  and (max-width: 375px){
    .register-link a {
        font-size: 18px;

    }

    .register-link .other-login a {
        font-size: 30px;
    }

    .register-link span {
        font-size: 14px;
    }

    .margin-text {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .margin-left {
        margin-left: 10px;
    }
    .input-icons {
        font-size: 15px;   
    }   

    .auth-form {
        height: 45vh;
    }
    .auth-col-submit a { 
        font-size: 13px;
    }

    .other-login {
        height: 15vh;
    }
    .welcome-font {
        font-size: 1.5em;

    }

    .auth-button {
        font-size: 17px;
        width: 112px;

    }

    .input-field  {
        height: 8vh;
    }
    
    .iub-auth-font {
        font-size: 4.5em;
    }
}

@media screen  and (max-width: 320px){
    .margin-text {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .welcome-font {
        font-size: 1.5em;

    }
    .margin-text {
        margin-top: 1px;
        margin-bottom: 1px;
    }
    
    .iub-auth-font {
        font-size: 4.2em;
    }
    .other-login {
        height: 12vh;
    }

    .center-text span{
        font-size: 13px;
    }
    .center-text a span {
        font-size: 16px;
    }
    .auth-button {
        width: 118px;
        font-size: 18px;
        font-weight: bold;
        padding-top: 7px;
        padding-bottom: 7px;
        /* height: 6vh; */
    }

    .input-field {
        height: 8vh;
    }
    .input-icons {
        padding: 0px;
        padding-top: 10px;
        font-size: 18px;
        color: white;
        min-width: 40px;
        text-align: center;
      }
    .input-group {
        height: 8vh;
    }

    .auth-col-submit { 
        margin-top: 12px;
        font-size: 18px;
    }
    .register-link a, span {
        font-size: 32px;
    }
}

