
.header-bg {
    background-image: linear-gradient( #863AD3, #B395D1)
}
.header-icon {
    margin: 0.2rem;
    margin-bottom: 1rem;
    border: 0px;
    background-color: rgb(0, 0, 0, 0);
}

.header-icon-home {
    font-size: 1.2rem;
    color: #5A466E;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
}
.header-icon-home :hover {
    color: #5A466E !important;
}

.header-icon-color {
    color: #5A466E;
}

.header-body {
    background-color: #3D304A;
}

.header-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header-flex-end {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.header-full-view {
    height: 100%;
}

.header-text {
    font-size: 2rem;
    color: white;
}

.bold {
    font-weight: bold;
}
.header-body-background {
    background-color: #E4DBED;
    margin-top: 3vh;
    padding-top: 0.3rem;
    width: 90%;
    border-radius: 1rem;
}
.people-img {
    width: 4rem;
    margin-bottom: 5px;
}
.text-small {
    font-size: 13px;
}
.phone-text {
    color: #9253D2;
    font-size: 23px;
}