.box {
    width: 100%; 
    border-radius: 30px;
    background-color: white;
    height: 28vh;
}

.btn-home {
    height: 10.2vh;
    width: 10.2vh;
    border-radius: 27px;

}
.btn-grad-home {background-image: linear-gradient(to right, #B293D1, #883ED3, #B293D1)}
.btn-grad-home {
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
 }

.btn-grad-home:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .hastag {
    background-image: url("./Group12.png");
    background-repeat: no-repeat;
    background-size: 10rem;
    color: white;
 }
 .hastag p {
     margin-left: 4.5rem;
     font-weight: bold;

 }

 .btn-grad-home p {
    font-size: 0.6rem;
 }

 .btn-other {
    background-color: rgb(127, 124, 130, 0.9);
    text-align: center;
    border: 0px solid;
    font-size: 0.7rem;
 }

.background {
   background-color: #5A466E;
   height: 6vh;
   font-weight: bold;
   align-items: center;
   font-size: 1.8rem;
   color: white;
}